.app-container {
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.left-container {
    width: 100%;
}

header {
    padding: 30px 0 0 30px;
}

.login {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

