*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #F1F1F1;  
}

.toggle-button{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100px;
    height: 40px;
    border-radius: 15px;
    background-color: black;
    cursor: pointer;
}

.toggle-button input{
    display: none;
}

.toggle-icon-moon, .toggle-icon-sun{
    width: 25px;
    height: 25px;
}

.slider{
    position: absolute;
    background-color: white;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    transition: 0.4s;
}


