@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #dce4e3;
}

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    background-color: #18c29c;
    transition: 0.5s;
}

.sidebar-header{
    padding: 10px 7px 0 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.sidebar-header-button{
    all: unset;
    cursor: pointer;
    padding: 4px;
}

.sidebar-header-button:hover{
    background-color: #8ed7c6;
    border-radius: 10px;
    transition: 0.5s;
    transform: scale(1.1);
}

.sidebar-menu{
   display: flex;
   flex-direction: column;
   gap: 8px;
   width: 100%;
   padding: 10px;
}

.sidebar-menu-item {
    display: flex;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    gap: 13px;
    visibility: visible;
}

.sidebar-menu-item:hover {
    background-color: #8ed7c6;
    border-radius: 10px;
}


.sidebar-footer{
    position: absolute;
    bottom: 0;
    background-color: #8ed7c6;
    display: flex;
    justify-content: space-between;
    padding: 7px;
    width: 100%;
}

.sidebar-footer-user-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sidebar-footer-user-text a:hover{
    cursor: pointer;
    text-decoration: underline;
}

.sidebar-footer-user-photo{
    width: 20%;
    border-radius: 7px;
    margin-right: 5px;
}

.sidebar-footer-user-occupation{
    font-size: 12px;
    margin-top: -5px;
}

.sidebar-footer-icone-log-out{
    margin: auto;
}

.sidebar-footer-icone-log-out:hover{
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
}

