@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #22212C;
    color: #837E9F;
    display: flex;
    font-family: 'Merriweather Sans', sans-serif;
}

aside {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.profile-card {
    width: 348px;
    height: 292px;
    background-color: #302F3D;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    width: 110px;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 22px;
}

.profile-username {
    font-size: 23px;
}

.profile-ocupation {
    opacity: 0.5;
    margin-top: 10px;
}

.links-card {
    width: 348px;
    height: 348px;
    background-color: #302F3D;
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.links-items {
   display: flex;
   align-items: center;
   gap: 15px;
}

.links-card a{
    text-decoration: none;
    color: #837E9F;
}

.technologies-card {
    width: 348px;
    height: 208px;
    background-color: #302F3D;
    border-radius: 15px;
    padding: 20px;
}

.technologies-container-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 20px;
}

.technologies-card a {
    text-decoration: none;
    width: 86px;
    height: 24px;
    padding: 6px;
    border-radius: 15px;
    background-color: #CB92B1;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: x-small;
}

.education-card {
    width: 348px;
    height: 352px;
    background-color: #302F3D;
    border-radius: 15px;
    padding: 20px;
}

.education-container-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 0 0 20px;
    gap: 10px;
}

.education-item span {
    opacity: 0.5;
    font-size: small;
    margin-left: 20px;
}

main {
    flex: 2;
}

